.main .left{
    background : #000000;
    width: 250px;
    min-height: 400px;
    float: left;
    list-style: none;
    color: bisque;
}
.main .between{
   background: #ccc;
   width: 1000px;
   min-height: 400px;
   float: left;
}
.main .right{
    width: 260px;
    background: #000000;
    min-height: 400px;
    float: left;
    color: bisque;
}
.footer{
    background: #000;
    width: auto;
    text-align: center;
    height: 60px;
    color: rgb(255, 255, 255);
    clear: left;
    line-height: 60px;
}
.main .left .menu_left ul{
    font-style: tahoma;
    margin: 0px;
    padding: 0px;
}
.main .between ul{
    margin: 0px;
    padding: 0px;
}
.main .between ul li{
    list-style: none;
    border-bottom: 2px solid #000;
    float: left;
    margin-bottom: 20px;
}
.main  .between  ul  li img {
    height: 130px;
    width: 120px;
    margin-right: 10px;
    float: left;
    margin-bottom: 20px;
}
.main .between ul li h3{
    font-size: 14px;
    margin-top: 0px;
}
.main .between ul li p{
    font-size: 8px  ;
}
.main{
    margin-top: 20px;
}
.topct{
    height: 40px;
}
.topct .xulydangnhap li{
    list-style: none;
}
.below_body{
    background: #ccc;
}